<section class="vh-100" style="background-color: #eee">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                  Signup
                </p>
                <form
                  class="mx-1 mx-md-4"
                  [formGroup]="registerForm"
                  (ngSubmit)="onSubmit()"
                  *ngIf="!successMessage"
                >
                  <app-input
                    [control]="registerForm.controls.name"
                    type="text"
                    id="name"
                    label="Username"
                    [errors]="errors.name"
                  >
                    <i class="fas fa-user fa-lg me-3 fa-fw" icon></i>
                  </app-input>

                  <app-input
                    [control]="registerForm.controls.email"
                    type="email"
                    id="email"
                    label="Email"
                    [errors]="errors.email"
                  >
                    <i class="fas fa-envelope fa-lg me-3 fa-fw" icon></i>
                  </app-input>

                  <app-input
                    [control]="registerForm.controls.password"
                    type="password"
                    id="password"
                    label="Password"
                    [errors]="errors.password"
                  >
                    <i class="fas fa-key fa-lg me-3 fa-fw" icon></i>
                  </app-input>

                  <app-input
                    [control]="registerForm.controls.confirm_password"
                    type="password"
                    id="confirm_password"
                    label="Password confirmation"
                    [errors]="errors.confirm_password"
                  >
                    <i class="fas fa-lock fa-lg me-3 fa-fw" icon></i>
                  </app-input>

                  <div class="form-check d-flex justify-content-center mb-5">
                    <input
                      class="form-check-input me-2"
                      type="checkbox"
                      formControlName="terms"
                      id="terms"
                    />
                    <label class="form-check-label" for="terms">
                      I agree all statements in
                      <a href="#!">Terms of service</a>
                    </label>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button
                      type="submit"
                      class="btn btn-primary btn-lg"
                      [disabled]="registerForm.invalid"
                    >
                      Register
                    </button>
                  </div>
                </form>

                <div
                  *ngIf="!successMessage"
                  class="d-flex justify-content-between"
                >
                  <a href="login">Already an account?</a>
                </div>
                <app-alert *ngIf="successMessage" class="text-success"
                  ><p>{{ successMessage }}</p></app-alert
                >
              </div>
              <app-image
                class="
                  col-md-10 col-lg-6 col-xl-7
                  d-flex
                  align-items-center
                  order-1 order-lg-2
                "
              ></app-image>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
