<section class="vh-100" style="background-color: #eee">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                  Login
                </p>

                <form
                  class="mx-1 mx-md-4"
                  [formGroup]="loginForm"
                  (ngSubmit)="onSubmit()"
                >
                  <app-input
                    [control]="loginForm.controls.email"
                    type="email"
                    id="email"
                    label="Email"
                    [errors]="errors.email"
                  >
                    <i class="fas fa-envelope fa-lg me-3 fa-fw" icon></i>
                  </app-input>

                  <app-input
                    [control]="loginForm.controls.password"
                    type="password"
                    id="password"
                    label="Password"
                    [errors]="errors.password"
                  >
                    <i class="fas fa-key fa-lg me-3 fa-fw" icon></i>
                  </app-input>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button
                      type="submit"
                      class="btn btn-primary btn-lg"
                      [disabled]="loginForm.invalid"
                    >
                      Login
                    </button>
                  </div>
                </form>

                <div class="d-flex justify-content-between">
                  <a routerLink="../forgot-password">Forgot Password?</a>
                  <a routerLink="../register">Create an account</a>
                </div>

                <app-alert
                  *ngIf="errors.verification"
                  [ngClass]="acivationMailSent ? 'text-success' : 'text-danger'"
                >
                  <p *ngIf="!acivationMailSent">{{ errors.verification }}</p>

                  <p>{{ activationMailMessage }}</p>

                  <button
                    *ngIf="!acivationMailSent"
                    class="btn btn-primary"
                    (click)="onResendActivationLink()"
                  >
                    SEND
                  </button>
                </app-alert>

                <app-alert *ngIf="errors.authentication" class="text-danger">{{
                  errors.authentication
                }}</app-alert>
              </div>
              <app-image
                class="
                  col-md-10 col-lg-6 col-xl-7
                  d-flex
                  align-items-center
                  order-1 order-lg-2
                "
              ></app-image>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
